.merchant-title{
    font-family: "Microsoft Yahei", Arial, sans-serif;
    display: inline-block;
    height: 30px;
    font-size: 17px;
    color: #ffffff;
    border-bottom: 1px solid #ed5d4f;
    background: #ed5d4f;
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: 99999999999;
    line-height: 30px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    padding: 0 8px;
}